:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --third-title-color: #9da4bd;
  --third-text-color: #555555;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* body */

body {
  font-family: "Open Sans", sans-serif;
}

section {
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.top-text--light {
}

.top-text--dark {
}

.top-text::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: var(--typical-margin);
}

.title--light {
  color: var(--main-title-color);
}

.title--dark {
  color: var(--second-title-color);
}
/* header */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--second-title-color);
}

.header__logo {
  margin-right: 70px;
}

.logo__icon {
  fill: currentColor;
  transition: color 300ms linear;
}

.logo:hover .logo__icon {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item {
  padding-top: 18px;
  padding-bottom: 18px;
}

.nav-link {
  color: var(--main-title-color);
  padding: 18px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 300ms linear;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.connect-tel {
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--main-title-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 300ms linear;
}

.connect-tel:hover,
.connect-tel:focus {
  color: var(--accent-color);
}

.button {
  display: block;
  min-width: 160px;
  height: 40px;
  color: var(--main-btn-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  transition: background-color 300ms linear;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* hero */

.hero .container {
  display: flex;
}

.soc {
  display: flex;
  width: 90px;
  align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 33px;
}

.soc-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}

.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
  margin-right: 40px;
}

.soc-item + .soc-item {
  margin-left: 40px;
}

.soc-link {
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color 300ms linear;
}

.soc-link:hover,
.soc-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: var(--second-title-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 96px 206px 96px;
  flex-grow: 1;
}

.hero-content__pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-content__title {
  margin-bottom: var(--typical-margin);

  color: var(--main-title-color);

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.hero-content__after-title {
  max-width: 400px;
  color: var(--third-title-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* about */

.about {
  padding-top: 169px;
  padding-bottom: 121px;
}

.about .container {
  display: flex;
}

.pic-list {
  display: flex;
  flex-grow: 1;
}

.pic-item + .pic-item {
  margin-left: 30px;
}

.about-content {
  margin-left: 64px;
  width: 500px;
}

.about-content__pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}
.about-content__title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}
.about-content__after-title {
  margin-bottom: var(--typical-margin);
  color: var(--third-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-content__last-title {
  margin-bottom: 40px;
  color: var(--third-text-color);

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.black {
  color: var(--second-btn-color);
}

/* services */

.services {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url("../images/servisces-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111319;
}

.services-pre-title {
  margin-bottom: var(--typical-margin);
  color: rgba(157, 164, 189, 0.6);
}
.services-title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}

.services-price {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services-list {
  padding: 30px 40px;
  flex-grow: 1;
}

.services-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
  align-items: baseline;
  margin-left: 6px;
  margin-right: 6px;
}

.services-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services-item :last-child {
  margin-bottom: 0;
}

.services-content {
  margin-bottom: var(--typical-margin);
  color: var(--third-title-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.services-content:first-child {
  order: -1;
}

.services .button {
  margin: 0 auto;
}

/* responds */

.responds {
  padding-top: 143px;
  padding-bottom: 137px;
}

.responds .container {
  display: flex;
}

.responds-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}
.responds-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.responds-item:nth-child(odd) {
  margin-right: 30px;
}

.responds-item:nth-child(even) {
  margin-top: 30px;
}

.responds-item-count {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--second-title-color);
}

.responds-item-count::after {
  content: "+";
  vertical-align: top;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.responds-text {
  width: 500px;
  margin-left: 130px;
}

.responds-content {
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.responds-pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}
.responds-title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}
.responds-after-title {
  color: var(--third-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* masters */

.masters {
  max-width: 1280px;
  padding-top: 130px;
  padding-bottom: 130px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.masters__pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}

.masters__title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}
.card__list {
  display: flex;
  margin-left: -30px;
}

.card__item {
  width: calc((100%-60px) / 3);
  margin-left: 30px;
}

.card__content {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
  padding-bottom: 0;
}

.card__name {
  margin-bottom: 8px;
  color: var(--second-title-color);

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.card__description {
  margin-bottom: 30px;
  color: var(--accent-color);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__links {
  display: flex;
  padding: 12px;
  background-color: var(--main-title-color);
  border-radius: 50%;
  color: var(--second-title-color);

  transition: color 300ms linear;
}

.socials__icons {
  fill: currentColor;
}

.socials__links:hover,
.socials__links:focus {
  color: var(--accent-color);
}

/* examples */

.examples {
  padding-top: 130px;
  padding-bottom: 130px;
}
.examples-pre-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

.examples-list {
  display: flex;
  margin-left: -30px;
}
.examples-item {
  width: calc((100%-90px) / 4);
  margin-left: 30px;
}

/* note contacts */

.note-contacts {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  margin: 0 auto;
}

.note-contacts .container {
  display: flex;
}

/* note */

.note {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 130px;
}

.note-title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}

/* online-form */

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
}

.online-form__field {
  position: relative;
  width: 265px;
  margin-bottom: 44px;
}

.online-form__input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 300ms linear;
}

.online-form__input:hover,
.online-form__input:focus {
  border-color: #ffffff;
}

.online-form__input:hover + .online-form__label,
.online-form__input:focus + .online-form__label {
  color: #ffffff;
  transform: translateY(-100%);
}

.online-form__input:not(:placeholder-shown) + .online-form__label {
  color: #ffffff;
  transform: translateY(-100%);
}

.online-form__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);

  transition: transform 300ms linear, color 300ms linear;
}

.text__field {
  position: relative;
  width: 100%;
}

.online-form__textarea {
  width: 100%;
  height: 76px;
  margin-top: 13px;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 300ms linear;
  resize: none;
}

.online-form__textarea:hover,
.online-form__textarea:focus {
  border-color: #ffffff;
}

.online-form__textarea:hover + .online-form__label,
.online-form__textarea:focus + .online-form__label {
  color: #ffffff;
}

/* contacts */

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-left: 100px;
  padding-bottom: 130px;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}

.address-list {
  margin-bottom: 70px;
}

.address-link {
  color: var(--third-title-color);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  transition: color 300ms linear;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-item {
  margin-bottom: var(--typical-margin);
}

.map-pin {
  display: flex;
  align-items: baseline;
}

.map-pin::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../images/map-pin.svg);
}

.phone {
  display: flex;
  align-items: center;
}

.phone::before {
  content: "";
  color: currentColor;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../images/phone.svg);
}

.mail {
  display: flex;
  align-items: center;
}

.mail::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../images/mail.svg);
}

.contacts-text {
  margin-bottom: var(--typical-margin);
  color: var(--main-title-color);
}
.contacts-time {
  color: var(--third-title-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  padding-top: 56px;
  padding-bottom: 55px;
}

.footer .container {
  display: flex;
  height: 127px;
  align-items: center;
}

.footer-title {
  color: var(--third-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-item + .footer-item {
  margin-left: 40px;
}

.hero-link-footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 27, 37, 0.475);
  opacity: 1;

  transition: opacity 300ms linear, visibility 300ms linear;
  position: fixed;
  top: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 500px;
  min-height: 600px;
  padding: 40px;
  background-color: var(--main-title-color);
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: var(--third-text-color);
  border: 1px solid var(--third-text-color);
  border-radius: 50%;
  background-color: transparent;

  position: absolute;
  top: 10px;
  right: 10px;

  transition: border 300ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: 1px solid var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.modal-close-icon {
  fill: currentColor;

  transition: color 300ms linear;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  color: var(--accent-color);
}

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field:hover .form-icon,
.form-field:focus .form-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 30px;
  color: var(--third-text-color);
  outline: none;

  transition: border-color 300ms linear;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:not(:placeholder-shown):not(:focus):valid {
  border-color: rgba(85, 83, 215, 0.792);
}

.form-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(201, 100, 38, 0.792);
}

.form-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.form-input::placeholder {
  color: var(--third-text-color);
  font-size: 12px;
}

.form-text::placeholder {
  color: var(--third-text-color);
  font-size: 12px;
}

.form-label {
  display: block;
  font-size: 16px;
  color: var(--second-title-color);
  margin-bottom: 5px;
}

/* .form-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  outline: none;
} */

.form-text:hover,
.form-text:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  position: relative;
  color: var(--second-title-color);
  font-size: 14px;
}

.check-text::before {
  content: "";
  width: 30px;
  height: 18px;
  border: 1px solid #090b13;
  border-radius: 50px;
  margin-right: 10px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: background-color 300ms linear;
}

.check-text::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 14px;
  border: 1px solid #090b13;
  border-radius: 50%;
  background-color: var(--accent-color);
  left: 2px;
  top: 2px;

  transition: transform 300ms linear;
}

.form-check:checked + .check-text::after {
  transform: translate(12px);
}

.form-check:checked + .check-text::before {
  background-color: rgba(85, 83, 215, 0.792);
}

.form-check:hover + .check-text::before {
  border: 1px solid var(--accent-color);
}
