h1 {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body */

body {
  font-family: "Open Sans", sans-serif;
  background-color: darkolivegreen;
  width: 1280px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
}

.header-nav {
}

.header-list {
  display: flex;
}

.header-link {
  color: #ffffff;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-tel {
  color: #ffffff;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.button {
  color: #ffffff;
  border: 1px solid #ff6c00;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.hero-link {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transform: rotate(-89.83deg);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-title {
  color: #ffffff;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.hero-after-title {
  color: #9da4bd;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

#about {
  display: flex;
}

.about-list {
  display: flex;
}
.about-pre-title {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-title {
  color: #303030;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-after-title {
  color: #555555;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-last-title {
  color: #555555;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.black {
  color: #303030;
}

#services {
}

.services-pre-title {
  color: rgba(157, 164, 189, 0.6);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.services-title {
  color: #ffffff;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.services-price {
  display: flex;
}

.services-list {
}
.services-item {
  display: flex;
}

.services-content {
  color: #9da4bd;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* responds */

.responds {
  display: flex;
}
.responds-list {
}
.responds-item {
}
.responds-content {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.responds-pre-title {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.responds-title {
  color: #303030;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.responds-after-title {
  color: #555555;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* masters */

#masters {
}

.masters-pre-title {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.masters-title {
  color: #303030;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.masters-list {
  display: flex;
}
.masters-item {
}

.masters-name {
  color: #303030;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-description {
  color: #ff6c00;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

/* examples */

.examples {
}
.examples-pre-title {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.examples-title {
}
.examples-list {
  display: flex;
}
.examples-item {
}

/* note */

.note-title {
  color: #ffffff;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* contacts */

#contacts {
}

.contacts-title {
  color: #ffffff;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.contacts-address {
}
.address-list {
}
.address-item {
}

.address-link {
  color: #9da4bd;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-text {
  color: #ffffff;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contacts-time {
  color: #9da4bd;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* footer */

.footer-title {
  color: #9da4bd;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
